@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap");

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--textTitle);
  background-color: var(--bg);
  transition: 0.3s;
  font-family: "Raleway", sans-serif;
}

body.light {
  --bg: #fff;
  --bg-secondary: #efefef;
  --textTitle: #222;
  --card-bg: #fff;
  --region-hover: #eee;
  --spinner-track-color: rgba(195, 195, 195, 0.6);
  --spinner-track: #636767;
  --form-shadow: 0 2px 10px 0 #ccc;
  --card-shadow: 0 0 7px 3px #eee;
  --location-btn-bg: #dee1f1;
  --location-btn-shadow: 0 2px 2px 1px #bec0d0;
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #1e213a;
  --bg-secondary: #100e1d;
  --textTitle: #e7e7eb;
  --card-bg: #1e213a;
  --region-hover: #292929;
  --spinner-track-color: #757575;
  --spinner-track: #eee;
  --form-shadow: 0 2px 10px 0 #222;
  --card-shadow: 0 2px 10px 0 #222;
  --location-btn-bg: #6e707a;
  --location-btn-shadow: 0 2px 2px 1px #181a2d;
}

.page-container {
  overflow: hidden;
}

.left-panel {
  width: 370px;
  background-color: var(--bg);
  color: var(--textTitle);
  height: 100vh;
  position: fixed;
  top: 0;
}

.left-panel::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.05;
  background: #1e213a url(/cloud-background.png) no-repeat 50% 15%;
}

.right-panel {
  background-color: var(--bg-secondary);
  height: 100vh;
  padding: 20px 70px;
  margin-left: 370px;
  box-sizing: border-box;
  overflow: auto;
}

.location-error {
  font-size: 24px;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forcase-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.material-icons {
  font-size: 16px;
}

.spinner {
  width: 100%;
  height: calc(100vh - 172px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}

.spinner div {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  animation-delay: -0.16s;
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(0.5);
  }
}

.spinner-round {
  width: 50px;
  height: 50px;
  margin: 50px auto;
  background-color: grey;
  border-radius: 100%;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@media only screen and (max-width: 768px) {
  .left-panel {
    width: 100%;
    position: static;
  }

  .right-panel {
    margin-left: 0;
    padding: 20px;
  }

  .forcase-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
